.form-field{
    margin-bottom: 10px;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: rgb(45, 211, 111);
}

input,
button{
    padding: 10px;
    width: -webkit-fill-available;
}

body {
    background-color: rgb(45,211,111);
    height: 100vh;
}
form{
    width: 300px;
}

input{
    border: none
}

button{
    margin-bottom:10px;
}

.error {
    background: red;
    color: white;
    display: none;
} 