body{
    height: 100vh;
    background: rgb(59, 59, 131);
}

ol{
    list-style-type: none;
    margin: 2em 2em;
    border-radius: 20px;
}

ol li{
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border-bottom: 1px solid gray;
    margin: 2px;
    border-radius: 20px;
    
}

ol li:hover{
    opacity: 0.8;

}

ol li:hover button.danger{
    display: block;
}

button.danger{
    width: auto;
    float: right;
    display: none;
}

p{
    margin: 4px 0;
}

button.fab{
    background-color: green;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
}

button.fab.fixed{
    position: fixed;
}

button.fab.bottom{
    bottom: 32px;
}

button.fab.right{
    right: 32px;
}